<template>
    <a-collada-model src="#board" position="0 1.5 0" rotation="90 0 0">
      <shogi-piece v-for="p in board.pieces" v-bind:piece="p"></shogi-piece>
      <shogi-space v-for="s in spaces" v-bind:space="s"></shogi-space>
    </a-collada-model>
  </a-entity>
</template>
<script>
  Vue.component('shogi-board', {
    props: ['board'],
    template: document.currentScript.parentNode.querySelector("template").innerHTML,
    data: function(){
      var spaces = [];
      for(var x = 0; x < 9; x++){
        for(var y = 0; y < 9; y++){
          spaces.push({x:x,y:y});
        }
      }
      return {
        spaces:spaces
      };
    }
  })
</script>
