<template>
  <a-collada-model src="#piece" v-bind:position="pos" v-bind:rotation="rot" v-on:click="clicked">
    <a-collada-model v-if="piece.selected" src="#piece_selection"></a-collada-model>
  </a-collada-model>
</template>
<script>
  Vue.component('shogi-piece', {
    props: ['piece'],
    template: document.currentScript.parentNode.querySelector("template").innerHTML,
    computed: {
      pos () {
        var x = -2.05+this.piece.x*.512
        var z = 2.05-this.piece.y*.512
        return x+" .38 "+z;
      },
      rot () {
        if(this.piece.player === 0){
            return "0 180 0";
        }
        else {
          return "0 0 0";
        }
      }
    },
    methods: {
      clicked: function(){
        this.dispatch('piece_selected',{x:this.piece.x,y:this.piece.y})
      }
    }
  })
</script>
